.identitas {
    width: 100px;
    height: 100px;
    list-style-type: none;
}

.identitas .ul{
    display: inline-block;
    list-style-type: none;
}

.identitas .ul .li{
    list-style-type: none;
}